@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply bg-rose-50 text-rose-950 font-body;
}

.floating-heart {
  @apply text-rose-400/60;
  animation: float 6s ease-in-out infinite;
}

.floating-heart:nth-child(2) {
  animation-delay: 1s;
}

.floating-heart:nth-child(3) {
  animation-delay: 2s;
}

.floating-heart:nth-child(4) {
  animation-delay: 3s;
}

.floating-heart:nth-child(5) {
  animation-delay: 4s;
}
